.sliderWrapper {
  display: flex;
  align-items: end;
}

.slider {
  height: 55px;
  overflow: hidden;
}

.slider div {
  height: 50px;
  color: #ffffff;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.sliderText1 {
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    margin-top: -350px;
  }

  12% {
    margin-top: -350px;
  }

  24% {
    margin-top: -300px;
  }

  36% {
    margin-top: -300px;
  }

  48% {
    margin-top: -200px;
  }

  60% {
    margin-top: -200px;
  }

  70% {
    margin-top: -100px;
  }

  82% {
    margin-top: -100px;
  }

  90% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1299px) {
  .sliderWrapper {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 567px) {
  .slider {
    height: 40px;
  }
}