.paraBg {
  background: url(../../../../public/location-page/bg-para.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.paraBg::before {
  background-image: url(../../../../public/location-page/target.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -25px;
  top: -25px;
  content: "";
  width: 50px;
  height: 50px;
  z-index: 0;
}

.ribbon {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}

.ribbon5 {
  display: block;
  height: 75px;
  line-height: 50px;
  text-align: center;
  margin-left: -11px;
  margin-right: -11px;
  background: url(../../../../public/location-page/ribbon-bg.png);
  background-size: 500px 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #d60925;
  position: relative;
  top: 20px;
}
.ribbon5:before,
.ribbon5:after {
  content: "";
  position: absolute;
}
.ribbon5:before {
  height: 0;
  width: 0;
  bottom: -9px;
  left: 0;
  border-top: 10px solid #d60925;
  border-left: 10px solid transparent;
}
.ribbon5:after {
  height: 0;
  width: 0;
  right: 0;
  bottom: -9px;
  border-top: 10px solid #d60925;
  border-right: 10px solid transparent;
}

@media only screen and (max-width: 1599px) {
  .padding {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 991px) {
  .paraBg::before {
    right: -10px;
    top: -10px;
    width: 45px;
    height: 45px;
  }

  .padding {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 767px) {
  .padding {
    padding: 80px 0 20px;
  }
}
