@media screen and (max-width: 1099px) {
  .form {
    width: 85%;
  }
}

@media screen and (max-width: 991px) {
  .form {
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .form {
    width: 100%;
    margin: auto;
  }
}
